
.content{
    margin: 2% 2%;
    border: 2px solid #6200ff;
    border-radius: 20px;
    
}

*{
    margin: 0;
    padding: 0;
}

#recetas{
    margin:3% 10%;
}

.resultados{
    margin:3% 10%;
}

body{
    background: url(/2.jpg);
    height: 100vh;
    
}

.header{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.header img{
    width: 200px;
    height: 200px;
}

.header h1{
    padding-top: 10%;
    font-size: 3rem;
    align-items: center;
    text-align: center;
}
.header p{
    text-align: center;
}

.bodyllamada{
    display: flex;
    justify-content: space-around;
}

.bodyllamada video{
    width: 500px;
    height: 300px;
    border-radius: 10%;
}

.infollamada h1{
    margin: 2% 10%;
}

.video1{
    text-align: center;
    padding: 20px 0;
}

.table-responsive{
    width: 80%;
    margin:2% 10%;
}

table {
    border-collapse: collapse;
    border-bottom: 2px solid #6200ff;
    
}

thead tr {
    border-bottom: 2px solid #6200ff;
    height: 50px;
}

thead td {
    font-weight: 700;
    background: #6200ff;
    color: #fff;
    height: 50px;
}

span.end{
    color: #0051ff;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: rgb(34, 34, 34);
    height: 50px;
}

td input{
    border-color: transparent;
    max-width: 600px;
    min-width: 300px;
    color: #6200ff;
}

.histitle{
    padding: 80px 0 30px 0;
}
.contentreceta{
    border-radius: 20px;
    border: 2px solid #6200ff;
    width: 100%;
}

.recetahead{
    display: flex;
    justify-content: space-between;
}

.recetahead img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.recetahead .img2 img{
    padding: 30px;
}

.titulo{
    text-align: center;
}

.titulo h1{
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
    font-family: 'cursiva';
    
}

.titulo p{
    font-size: 1.5rem;
}

.recetahead2{
    display: flex;
    justify-content: space-between;
    padding:0 30px;
    font-size: 1.3rem;
}

.barrasep{
    margin-left: 2%;
    width: 96%;
    height: 5px;
    background: linear-gradient(to left,rgb(162, 0, 255),rgb(0, 183, 255),rgb(162, 0, 255));

}

.recetabody{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding:0 30px;
    font-size: 1.3rem;
    
}

.contentbody{
    margin-top: 50px;
    min-height: 200px;
    font-size: 1.3rem;
    padding:0 30px;
}

.recetafot{
    font-size: 1.3rem;
    padding:0 30px;
    text-align: right;
}

.contentbody li{
    list-style:circle ;
}

.medicamentos{
    background: chartreuse;
    width: 100%;
    height: 200px;
    margin-bottom: 100px;

}

.medicamentos input[type="text"]{
    width: 100%;
    border: 2px solid #6200ff;
    height: 200px;
    margin-bottom: 20px;
}

.medicamentos input[type="submit"]{
    width: 300px;
    border-radius: 20px;
    border: 1px solid #6200ff;
    background: #fff;
    color: black;
    transition: 0.3s all;
    padding: 10px 50px;
    cursor: pointer;

}

.medicamentos input[type="submit"]:hover{
    width: 300px;
    border-radius: 20px;
    background: #6200ff;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1280px) {
    
    .header{
        display: inline-block;
        justify-content: center;
        margin-bottom: 20px;
        text-align: center;
    }
    .bodyllamada{
        display: inline-block;
        justify-content: center;
    }
    .bodyllamada video{
        width: 350px;
        height: 150px;
        border-radius: 10%;
    }

    .histitle{
        font-size: 0.8rem;
        margin:3% 5%;
    }

    .recetahead{
        display: inline-block;
        justify-content: center;
    }
    .titulo{
        text-align: center;
    }
    
    .titulo h1{
        margin-top: 50px;
        font-size: 1rem;
        text-align: center;
        font-family: 'cursiva';
        
    }
    .recetahead2{
        display: inline-block;
        justify-content: center;
        padding:0 30px;
        font-size: 1.3rem;
    }
    .recetahead img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 30px;
    }
    .recetabody{
        margin-top: 20px;
        display: inline-block;
        justify-content: center;
        padding:0 30px;
        font-size: 1.3rem;
        
    }
    .table-responsive{
        margin:2% 0%;
    }
}
@media only screen and (max-width: 960px) {
    .header{
        display: inline-block;
        justify-content: center;
        margin-bottom: 20px;
        text-align: center;
    }
    .bodyllamada{
        display: inline-block;
        justify-content: center;
    }
    .bodyllamada video{
        width: 350px;
        height: 150px;
        border-radius: 10%;
    }

    .histitle{
        font-size: 0.8rem;
        margin:3% 5%;
    }

    .recetahead{
        display: inline-block;
        justify-content: center;
    }
    .titulo{
        text-align: center;
    }
    
    .titulo h1{
        margin-top: 50px;
        font-size: 1rem;
        text-align: center;
        font-family: 'cursiva';
        
    }
    .recetahead2{
        display: inline-block;
        justify-content: center;
        padding:0 30px;
        font-size: 1.3rem;
    }
    .recetahead img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 30px;
    }
    .recetabody{
        margin-top: 20px;
        display: inline-block;
        justify-content: center;
        padding:0 30px;
        font-size: 1.3rem;
        
    }
    .table-responsive{
        margin:2% 0%;
    }
    
}
@media only screen and (max-width: 768px) {
    .header{
        display: inline-block;
        justify-content: center;
        margin-bottom: 20px;
        text-align: center;
    }
    .bodyllamada{
        display: inline-block;
        justify-content: center;
    }
    .bodyllamada video{
        width: 350px;
        height: 150px;
        border-radius: 10%;
    }

    .histitle{
        font-size: 0.8rem;
        margin:3% 5%;
    }

    .recetahead{
        display: inline-block;
        justify-content: center;
    }
    .titulo{
        text-align: center;
    }
    
    .titulo h1{
        margin-top: 50px;
        font-size: 1rem;
        text-align: center;
        font-family: 'cursiva';
        
    }
    .recetahead2{
        display: inline-block;
        justify-content: center;
        padding:0 30px;
        font-size: 1.3rem;
    }
    .recetahead img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 30px;
    }
    .recetabody{
        margin-top: 20px;
        display: inline-block;
        justify-content: center;
        padding:0 30px;
        font-size: 1.3rem;
        
    }
    .table-responsive{
        margin:2% 0%;
    }
    
    
}
@media only screen and (max-width: 580px) {
    
    .header{
        display: inline-block;
        justify-content: center;
        margin-bottom: 20px;
        text-align: center;
    }
    .bodyllamada{
        display: inline-block;
        justify-content: center;
    }
    .bodyllamada video{
        width: 350px;
        height: 150px;
        border-radius: 10%;
    }

    .histitle{
        font-size: 0.8rem;
        margin:3% 5%;
    }

    .recetahead{
        display: inline-block;
        justify-content: center;
    }
    .titulo{
        text-align: center;
    }
    
    .titulo h1{
        margin-top: 50px;
        font-size: 1rem;
        text-align: center;
        font-family: 'cursiva';
        
    }
    .recetahead2{
        display: inline-block;
        justify-content: center;
        padding:0 30px;
        font-size: 1.3rem;
    }
    .recetahead img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 30px;
    }
    .recetabody{
        margin-top: 20px;
        display: inline-block;
        justify-content: center;
        padding:0 30px;
        font-size: 1.3rem;
        
    }
    
    .table-responsive{
        max-width: 800px;
        margin-left: 0%;
    }
    
    
}

@media only screen and (max-width: 300px) {
    
    
}
